nav.container{
    display: flex;
    justify-content: space-between;
}

nav.container div.logoContainer img{
    cursor: pointer;
}

nav.container ul{
    display: flex;
    gap: 20px;
}

nav.container ul li{
    list-style: none;
}

nav.container ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black
}

nav.container div.button button#Login{
    border: 2px green solid;
    cursor: pointer;
    background-color: white;
    border-radius: 7px;
    color: green;
    width: 60px;
    height: 30px;

}

nav.container div.button button#Daftar{
    border: 2px green solid;
    cursor: pointer;
    background-color: white;
    border-radius: 7px;
    background-color: green;
    color: white;
    width: 60px;
    height: 30px;
}

nav.container div.logoContainer{
    display: flex;
    align-items: center;
}

nav.container ul{
    display: flex;
    align-items: center;
}

nav.container div.button{
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
}

